body {
  padding-top: 5rem;
}

body h1 {
  padding-left: 10px;
}

body p {
  padding-left: 10px;
}

tr .btn {
  line-height: .55;
}

.row-header-buttons{
  padding-right: 15px;
  padding-bottom: 20px;
}